[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiohttp-autoreload = "*"
ipython = "*"

[packages]
aiojobs = "*"
websockets = "*"
names = "*"
ujson = "*"
uvloop = "*"

[requires]
python_version = "3.7"
